[Unit]
Description=Shutdown
Wants=local-fs.target rsyslog.service autoware-launch.service
After=local-fs.target rsyslog.service autoware-launch.service

[Service]
Type=oneshot
ExecStop=/opt/autoware/services/shutdown-sequence/run.sh
User=root
Group=root
RemainAfterExit=yes
TimeoutSec=30

[Install]
WantedBy=multi-user.target
