[Unit]
Description=Local Communication of CycloneDDS
before=autoware-launch.service

[Service]
ExecStart=/opt/autoware/services/cyclonedds-local/setup.sh
User=root
Group=root
Type=oneshot

[Install]
WantedBy=multi-user.target
