[Unit]
Description=OTA Client Config service
Before=otaclient.service
ReloadPropagatedFrom=otaclient.service

[Service]
Type=oneshot

ExecStart={{ ota_client_install_dir }}/bin/config-aws_gglog.sh {{ ota_client_install_dir }}/etc/aws_gglog_env

[Install]
WantedBy=otaclient.service
