[Unit]
Description=mixer-setup
Requires=alsa-restore.service
After=alsa-restore.service
Before=autoware-launch.service

[Service]
ExecStart=/opt/autoware/services/mixer-setup/setup.sh
Type=oneshot

[Install]
WantedBy=sound.target
