[Unit]
Description=MSR Reader
Wants=local-fs.target
After=local-fs.target
Before=autoware-launch.service

[Service]
ExecStart=/opt/autoware/services/msr-reader/run.sh
Type=forking
Restart=always
User=root

[Install]
WantedBy=multi-user.target
