[Unit]
Description=Precision Time Protocol (PTP) service
After=network-online.target
Before=autoware-launch.service

[Service]
Type=simple
ExecStart=/usr/sbin/ptpd -i br0 -m -C
ExecStop=/usr/bin/pkill -f ptpd
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target network-online.target
