[Unit]
Description=ADLINK DIO
Wants=
After=network.target
Before=autoware-launch.service

[Service]
ExecStart=/opt/autoware/services/adlink-dio/setup.sh
User=root
Group=root
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
